html{
	background-color: #F5F5F5;
}
.view {
   width: 750px;
   height: 1100p	x;
   margin-left: auto;
   margin-right: auto;

   position: relative;
   text-align: center;
   cursor: default;
}
.infotext{
	padding-left: 10px;
	padding-right: 10px;
   margin-right: auto;
   margin-left: auto;
}


/* SOCIAL ICONS - GENERAL */
.social { list-style:none; margin:30px auto; width:464px; }
.social li { display:inline; float:left; background-repeat:no-repeat; }
.social li a { display:block; width:48px; height:48px; padding-right:10px; position:relative; text-decoration:none; }
.social li a strong { font-weight:normal; position:absolute; left:20px; top:-1px; color:#fff; padding:3px; z-index:9999;
 text-shadow:1px 1px 0 rgba(0, 0, 0, 0.75); background-color:rgba(0, 0, 0, 0.7);
 -moz-border-radius:3px; -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); -webkit-border-radius:3px; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); border-radius:3px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

li.instagram { background-image:url("../images/socialmedia/instagram.png"); }
li.pinterest { background-image:url("../images/socialmedia/pinterest.png"); }
li.facebook { background-image:url("../images/socialmedia/facebook.png"); }
li.flickr { background-image:url("../images/socialmedia/flickr.png"); }
li.linkedin { background-image:url("../images/socialmedia/linkedin.png"); }
li.reddit { background-image:url("../images/socialmedia/reddit.png"); }
li.rss { background-image:url("../images/socialmedia/rss.png"); }
li.twitter { background-image:url("../images/socialmedia/twitter.png"); }

/* SOCIAL ICONS - CSS3 */
#css3:hover li { opacity:0.2; }

#css3 li { -webkit-transition-property: opacity; -webkit-transition-duration: 500ms;
 -moz-transition-property: opacity; -moz-transition-duration: 500ms; }
#css3 li a strong { opacity:0;
 -webkit-transition-property: opacity, top; -webkit-transition-duration: 300ms;
 -moz-transition-property: opacity, top; -moz-transition-duration: 300ms; }

#css3 li:hover { opacity:1; }
#css3 li:hover a strong { opacity:1; top:-10px; }



/*
Back to top button 
*/
#back-top {
	position: fixed;
	bottom: 30px;
	margin-left: 10px;
}
#back-top a {
	width: 108px;
	display: block;
	text-align: inline	;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}
/* arrow icon (span tag) */
#back-top span {
	width: 50px;
	height: 50px;
	display: block;
	margin-bottom: 7px;
	background: #ddd url("../images/socialmedia/up-arrow.png") no-repeat center center;
	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: #000;	
}

